<!--
 * @Author: xiuxiu
 * @Date: 2021-11-13 17:11:09
 * @LastEditTime: 2021-11-15 02:45:29
 * @FilePath: \all\html\vue\09_天气案例.html\5.姓名案例_watch实现.html
-->
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName">
        <br> 名：<input type="text" v-model="lastName">
        <br> 全名：<span>{{fullName}}</span>
    </div>
</body>
<script>
    Vue.config.productionTip = false
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三',
            fullName: '张-三'
        },
        watch: {
            firstName(newValue, oldValue) {
                setTimeout(() => {
                    this.fullName = newValue + '-' + this.lastName
                }, 1000);
            },
            lastName(newValue, oldValue) {
                this.fullName = this.firstName + '-' + newValue
            },
        }
    })
</script>

</html>